.menucontainer {
    height: 80px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 40;
    border-top: 2px solid lightgrey;
    border-bottom: 2px solid lightgrey;
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
    align-items: center;
    padding: 0 20px;
  }
  
  .logocontainer {
    height: 75px;
  }
  
  .logoimg {
    height: 75px;
    width: auto;
  }
  
  .itemcontainer {
    width: 120px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20pt;
    color: black;
  }
  